@font-face {
    font-family: 'iconfont';  /* Project id 2936490 */
    src: url('//at.alicdn.com/t/font_2936490_w603wz8vywr.woff2?t=1636858032349') format('woff2'),
         url('//at.alicdn.com/t/font_2936490_w603wz8vywr.woff?t=1636858032349') format('woff'),
         url('//at.alicdn.com/t/font_2936490_w603wz8vywr.ttf?t=1636858032349') format('truetype');
  }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}